@use 'sass:map';
@use '../../../../global.scss' as g;

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 2em;

    @include g.mq(mobile) {
        margin-top: 1em;
    }
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    @include g.mq(tablet-s) {
        gap: 0em;
    }

    .labelWrapper {
        display: flex;
        justify-content: space-between;

        label {
            font-size: 0.875rem;
            color: map.get(g.$colors, primary-600);

            &.errorLabel {
                font-weight: 500;
                color: map.get(g.$colors, secondary-400);
            }
        }

        .optional {
            color: map.get(g.$colors, neutral-500);
        }
    }

    input {
        padding: 0.5em 0.75em;
        font-size: 1rem;
        font-weight: 500;
        border: 2px solid map.get(g.$colors, neutral-400);
        border-radius: 0.25em;
        outline: none;
        transition: border 100ms ease-out;

        &::placeholder {
            color: map.get(g.$colors, neutral-500);
        }

        &:is(:focus, :active, :focus-visible) {
            border-color: map.get(g.$colors, primary-500);
        }

        &.errorInput {
            border-color: map.get(g.$colors, secondary-400);
        }
    }
}
